.gameboardDiv {
  display: flex;
  justify-content: center;
}

.cardsDiv {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  gap: 10px;
}

.scoreboardDiv {
  position: absolute;
  top: 0;
  right: 20px;
}

.image {
  width: 300px;
}