* {
  margin: 0;
  padding: 0;
  background-color: #faedcd;
}

.titleHeader {
  padding: 30px;
}

.gameboardDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cardsDiv {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.scoreboardDiv {
  position: absolute;
  top: 30px;
  right: 30px;
}

.image {
  max-width: 300px;
}

.cardDiv {
  max-width: 300px;
  height: 240px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.credits {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  font-style: italic;
  gap: 5px;
}

.credits > a {
  text-decoration: none;
  color: grey;
}